<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://kit.fontawesome.com/24a527e4a1.js" crossorigin="anonymous"></script>
</head>
<body id="dashboardBody">
{% extends "base.html" %}




{% block content %}

<div id="dashboardContent">

        <h1 class="welcome">Let's Learn Czech!</h1>







<div class="lessonSections" id="lesson1Sections">
        <h2 class="GramResHead">Lesson One</h2>

        <div class="resultCellWrap">


            <div class="resultCell startRow">
                <p class="cellTitle">Translation</p>
                <font size="6"> <a href="/translate-test-l1" class="fas fa-feather medalDash transl"></a></font>

            </div>

            <div class="resultCell">
                <p class="cellTitle">Sentences</p>
                <font size="6"><a href="/mix-test-l1" class="fas fa-cut medalDash mixed"></a></font>
            </div>


           <div class="resultCell">
                <p class="cellTitle">Game</p>
                <font size="6"> <a href="/memory-game-l1" class="fas fa-brain medalDash memory"></a></font>
            </div>

        </div>


</div>




<div class="lessonSections" id="lesson2Sections">
        <h2 class="GramResHead">Lesson Two</h2>



        <div class="resultCellWrap">
            <div class="resultCell startRow">
                <p class="cellTitle">Translation</p>
                <font size="6"> <a href="/translate-test-l2" class="fas fa-feather medalDash transl"></a></font>

            </div>

            <div class="resultCell">
                <p class="cellTitle">Sentences</p>
                <font size="6"><a href="/mix-test-l2" class="fas fa-cut medalDash mixed"></a></font>
            </div>


            <div class="resultCell">
                <p class="cellTitle">Game</p>
                <font size="6"> <a href="/memory-game-l2"  class="fas fa-brain medalDash memory"></a></font>
            </div>

        </div>

</div>


<div class="lessonSections" id="lesson3Sections">
        <h2 class="GramResHead">Lesson Three</h2>

        <div class="resultCellWrap">

            <div class="resultCell startRow">
                <p class="cellTitle">Translation</p>
                <font size="6"> <a href="/translate-test-l3" class="fas fa-feather medalDash transl"></a></font>

            </div>

            <div class="resultCell">
                <p class="cellTitle">Sentences</p>
                <font size="6"><a href="/mix-test-l3" class="fas fa-cut medalDash mixed"></a></font>
            </div>


           <div class="resultCell">
                <p class="cellTitle">Game</p>
                <font size="6"> <a href="/memory-game-l3"  class="fas fa-brain medalDash memory"></a></font>
            </div>

        </div>

</div>


<div class="lessonSections" id="lesson4Sections">
        <h2 class="GramResHead">Lesson Four</h2>

        <div class="resultCellWrap">

            <div class="resultCell startRow">
                <p class="cellTitle">Translation</p>
                <font size="6"><a href="/translate-test-l4" class="fas fa-feather medalDash transl"></a></font>

            </div>

            <div class="resultCell">
                <p class="cellTitle">Sentences</p>
                <font size="6"><a href="/mix-test-l4"  class="fas fa-cut medalDash mixed"></a></font>
            </div>



           <div class="resultCell">
                <p class="cellTitle">Game</p>
                <font size="6"> <a href="/memory-game-l4"  class="fas fa-brain medalDash memory"></a></font>
            </div>

        </div>

</div>

<div class="lessonSections fifthLesson" id="lesson5Sections">
        <h2 class="GramResHead">Lesson Five</h2>

        <div class="resultCellWrap">

            <div class="resultCell startRow">
                <p class="cellTitle">Translation</p>
                <font size="6"><a href="/translate-test-l5" class="fas fa-feather medalDash transl"></a></font>

            </div>

            <div class="resultCell">
                <p class="cellTitle">Sentences</p>
                <font size="6"><a href="/mix-test-l5"  class="fas fa-cut medalDash mixed"></a></font>
            </div>




           <div class="resultCell">
                <p class="cellTitle">Game</p>
                <font size="6"> <a href="/memory-game-l5"  class="fas fa-brain medalDash memory"></a></font>
            </div>

        </div>

</div>



</div>























{% endblock %}

</body>
</html>