<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>















<div class="lessonTitle">
    <h1 class="lessonTitleText">Verb Classes</h1>
</div>






<div class="gramTabCont">



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">1. Class</th>

        </tr>
        <tr class="rowTable">
            <td class="left">Já nes<span class="sfx">u</span> </td>
            <td class="middleCol"></td>
            <td class="right">My nes<span class="sfx">eme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty nes<span class="sfx">eš</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy nes<span class="sfx">ete</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On nes<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni nes<span class="sfx">ou</span></td>
        </tr>
    </table>

        <table class="grammarTable">

        <tr class="rowTable">
         <th class="tablehead">2. Class</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Já tisk<span class="sfx">nu</span> </td>
            <td class="middleCol"></td>
            <td class="right">My tisk<span class="sfx">neme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty tisk<span class="sfx">neš</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy tisk<span class="sfx">nete</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On tisk<span class="sfx">ne</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni tisk<span class="sfx">nou</span></td>
        </tr>
    </table>


</div>


<div class="gramTabCont">



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">3. Class</th>

        </tr>
        <tr class="rowTable">
            <td class="left">Já kupu<span class="sfx">ju</span> </td>
            <td class="middleCol"></td>
            <td class="right">My kupu<span class="sfx">jeme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty kupu<span class="sfx">ješ</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy kupu<span class="sfx">jete</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On kupu<span class="sfx">je</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni kupu<span class="sfx">jí/jou</span></td>
        </tr>
    </table>

        <table class="grammarTable">

        <tr class="rowTable">
         <th class="tablehead">4. Class</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Já pros<span class="sfx">ím</span> </td>
            <td class="middleCol"></td>
            <td class="right">My pros<span class="sfx">íme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty pros<span class="sfx">íš</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy pros<span class="sfx">íte</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On pros<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni pros<span class="sfx">í</span></td>
        </tr>
    </table>


</div>

<div class="gramTabCont">



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">5. Class</th>

        </tr>
        <tr class="rowTable">
            <td class="left">Já děl<span class="sfx">ám</span> </td>
            <td class="middleCol"></td>
            <td class="right">My děl<span class="sfx">áme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty děl<span class="sfx">áš</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy děl<span class="sfx">áte</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On děl<span class="sfx">á</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni děl<span class="sfx">ají</span></td>
        </tr>
    </table>
</div>




<div class="theoryTopics">




    <div class="explanation">
    <h2 class="topicTitle">Determining Classes</h2>
        We assign a class to a verb according to its ending in 3. person
        singular (e.g., on pracu<span class="sfx">je</span>)

        1. Class: <span class="sfx">-e</span>,

        2. Class: <span class="sfx">-ne</span>,

        3. Class: <span class="sfx">-je</span>,

        4. Class: <span class="sfx">-í</span>,

        5. Class: <span class="sfx">-á</span>,
     </div>




    <div class="explanation">
     <h2 class="topicTitle">Reflexive Verbs</h2>

       Czech reflexive verbs are accompanied by the pronoun <span class="be">"se"</span> - it is the same for all persons and numbers and often is not translated in English.
        (e.g. <span class="be"> On se učí</span> - He learns; <span class="be">Já se snažím</span> - I try)


     </div>






    <div class="explanation">
        <h2 class="topicTitle">Irregular Verbs</h2>
        <br>
        "mít" (to have): mám, máš, má, máme, máte, mají
        <br>
        "chtít" (to want): chci, chceš, chce, chceme, chcete, chtějí
        <br>
        "jíst" (to eat): jím, jíš, jí, jíme, jíte, jí
        <br>
        "spát" (to sleep): spím, spíš, spí, spíme, spíte, spí
        <br>
        "bát se" (to be afraid): bojím se, bojíš se, bojí se, bojíme se, bojíte se, bojí se
        <br>
        "jít" (to go - walk): jdu, jdeš, jde, jdeme, jdete, jdou
        <br>


     </div>

</div>















{% endblock%}
</body>
</html>