<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>
















<div class="lessonTitle">
    <h1 class="lessonTitleText">Past Tense</h1>
</div>





        <div class="gramTabCont">
    <table class="grammarTable">

        <tr class="rowTable">
            <th class="tablehead">Masculine</th>
        </tr>

        <tr class="rowTable">
            <td class="leftLonger">Já<span class="be">jsem</span> pracova<span class="sfx">l</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">My<span class="be">jsme</span> pracova<span class="sfx">li</span></td>
        </tr>
        <tr class="rowTable">
            <td class="leftLonger">Ty<span class="be">jsi</span>pracova<span class="sfx">l</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">Vy<span class="be">jste</span>pracova<span class="sfx">li</span></td>
        </tr>
        <tr class="rowTable">
            <td class="leftLonger">On </span>pracova<span class="sfx">l</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">Oni </span>pracova<span class="sfx">li</span></td>
        </tr>
    </table>

    <table class="grammarTable">

        <tr class="rowTable">
            <th class="tablehead">Feminine</th>
        </tr>

        <tr class="rowTable">
            <td class="leftLonger">Já<span class="be">jsem</span> pracova<span class="sfx">la</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">My<span class="be">jsme</span> pracova<span class="sfx">ly</span></td>
        </tr>
        <tr class="rowTable">
            <td class="leftLonger">Ty<span class="be">jsi</span>pracova<span class="sfx">la</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">Vy<span class="be">jste</span>pracova<span class="sfx">ly</span></td>
        </tr>
        <tr class="rowTable">
            <td class="leftLonger">Ona </span>pracova<span class="sfx">la</span></td>
            <td class="middleCol"></td>
            <td class="rightLonger">Ony </span>pracova<span class="sfx">ly</span></td>
        </tr>
    </table>
</div>



<div class="theoryTopics">
    <div class="explanation">
    <h2 class="topicTitle">Past Participle</h2>



        The past participle is formed by dropping the final -t in of an infinitive form and replacing it with
        -l
        <br>
        <br>


            <div class="indentMiddle">
             pracova<span class="sfx">t</span> x pracova<span class="sfx">l</span>
            </div>
            <br>

     </div>


        <div class="explanation">
    <h2 class="topicTitle">Agreement</h2>

            The past participle has to agree with its subject in gender and number
            <br><br>

         <div class="indent">
             <span class="sfx">Ona</span> pracova<span class="sfx">la</span>
                          <br>
             <span class="sfx">Ony</span> pracova<span class="sfx">ly</span>
                          <br>
             <span class="sfx">On</span> pracova<span class="sfx">l</span>
                          <br>
             <span class="sfx">Oni</span> pracova<span class="sfx">li</span>
          </div>
     </div>


    <div class="explanation">
     <h2 class="topicTitle"> Irregular Participles</h2>

        Some participles are irregular and have to be memorized:


              <div class="indent">
                  <br>
             - říct - <span class="be">řekl</span>
                <br>
             - číst - <span class="be">četl</span>
                <br>
             - pomoct - <span class="be">pomohl</span>
                <br>
             - jít - <span class="be">šel/šla</span>
                <br>
              - jíst - <span class="be">jedl</span>
                <br>
             - péct - <span class="be">pekl</span>
                <br>
             - utéct - <span class="be">utekl</span>

            </div>

    </div>


       <div class="explanation">
     <h2 class="topicTitle">Word Order</h2>

        In Czech personal pronouns are not obligatory since the person is already expressed by the verb ending.
        In case the personal pronoun is missing, the past participle will precede the auxiliary verb "být".




              <div class="indentMiddle">
                  <br>
                  <span class="be">Pracoval jsem.</span>
            </div>

           <br>
           While if the subject is explicitly expressed by a pronoun or a noun, the past particile will follow
           the auxiliary verb.
           <br>

           <div class="indentMiddle">
                  <br>
               <span class="be">Já jsem pracoval.</span>
            </div>

    </div>


</div>



















{% endblock%}
</body>
</html>