<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>













<div class="lessonTitle">
    <h1 class="lessonTitleText">Verb "být" and Pronouns</h1>
</div>



<div class="gramTabCont">



    <table class="grammarTable">

        <tr class="rowTable">
            <th class="left">Singular</th>
            <th class="middleCol"></th>
            <th class="right">Plural</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Já<span class="be">jsem</span> </td>
            <td class="middleCol"></td>
            <td class="right">My <span class="be">jsme</span> </td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty <span class="be">jsi</span></td>
            <td class="middleCol"></td>
            <td class="right">Vy <span class="be">jste</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">On/ona/to<span class="be">je</span></td>
            <td class="middleCol"></td>
            <td class="right">Oni/ony<span class="be">jsou</span></td>
        </tr>
    </table>



    <table class="grammarTable enTable">
            <tr class="rowTable">
                <th class="left">Singular</th>
                <th class="middleCol"></th>
                <th class="right">Plural</th>
            </tr>
            <tr class="rowTable">
                <td class="left">I<span class="be">am</span> </td>
                <td class="middleCol"></td>
                <td class="right">We <span class="be">are</span> </td>
            </tr>
            <tr class="rowTable">
                <td class="left">You <span class="be">are</span></td>
                <td class="middleCol"></td>
                <td class="right">You <span class="be">are</span></td>
            </tr>
            <tr class="rowTable">
                <td class="left">He/she/it<span class="be">is</span></td>
                <td class="middleCol"></td>
                <td class="right">They (m/f)<span class="be">are</span></td>
            </tr>
        </table>
</div>


<div class="gramTabCont">
    <table class="grammarTable">

        <tr class="rowTable">
            <th class="left">Pronoun</th>
            <th class="middleCol"></th>
            <th class="right">Sentence</th>
        </tr>
        <tr class="rowTable">
            <td class="left"><span class="be">Kde</span> </td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Kde</span> jsi? </td>
        </tr>
        <tr class="rowTable">
            <td class="left"><span class="be">Co</span></td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Co</span> to je?</td>
        </tr>
        <tr class="rowTable">
            <td class="left"><span class="be">Kdo</span></td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Kdo</span>jsi?</td>
        </tr>
        <tr class="rowTable">
            <td class="left"><span class="be">Kdy</span></td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Kdy</span>přijde?</td>
        </tr>

         <tr class="rowTable">
            <td class="left"><span class="be">Kolik</span></td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Kolik</span>let?</td>
        </tr>

         <tr class="rowTable">
            <td class="left"><span class="be">Jak</span></td>
            <td class="middleCol"></td>
            <td class="right"><span class="be">Jak</span>se máš?</td>
        </tr>
    </table>



    <table class="grammarTable enTable">
            <tr class="rowTable">
                <th class="left">Pronoun</th>
                <th class="middleCol"></th>
                <th class="right">Sentence</th>
            </tr>
            <tr class="rowTable">
                <td class="left"><span class="be">Where</span> </td>
                <td class="middleCol"></td>
                <td class="right"><span class="be">Where</span> are you? </td>
            </tr>
            <tr class="rowTable">
                <td class="left"><span class="be">What</span></td>
                <td class="middleCol"></td>
                <td class="right"><span class="be">What</span> is it?</td>
            </tr>
            <tr class="rowTable">
                <td class="left"><span class="be">Who</span></td>
                <td class="middleCol"></td>
                <td class="right"><span class="be">Who</span>are you?</td>
            </tr>
            <tr class="rowTable">
                <td class="left"><span class="be">When</span></td>
                <td class="middleCol"></td>
                <td class="rightLonger"><span class="be">When</span>do you come?</td>
            </tr>

             <tr class="rowTable">
                <td class="left"><span class="be">How many</span></td>
                <td class="middleCol"></td>
                <td class="right"><span class="be">How many</span>years?</td>
            </tr>

             <tr class="rowTable">
                <td class="left"><span class="be">How</span></td>
                <td class="middleCol"></td>
                <td class="right"><span class="be">How</span>are you?</td>
            </tr>
    </table>

</div>







<div class="theoryTopics">




    <div class="explanation">
    <h2 class="topicTitle">Formal & Informal</h2>

                In a formal setting,to address older people or people to whom we show respect,
                we use second person plural (Vy) with a capital "V"
                In an informal setting, when talking to a friend we use second person singular (ty)
                <br><br>

        <div class="indent">
            <p><span class="be">Vy jste učitel.</span> (You are a teacher - formal)</p>
            <p><span class="be">Ty jsi učitel.</span> (You are a teacher - informal)</p>
        </div>
     </div>




    <div class="explanation">
     <h2 class="topicTitle">Making Questions</h2>

         We do not change the word order in questions. We indicate that a sentence
         is a question by raising intonation at the end of a sentence.


     </div>


</div>















{% endblock%}
</body>
</html>