<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>














<div class="lessonTitle">
    <h1 class="lessonTitleText">Future Tense</h1>
</div>




<div class="theoryTopics">




    <div class="explanation">
    <h2 class="topicTitle">Perfective Verbs</h2>



        The Czech language distinguish 2 verbal aspects. <span class="be">Perfective</span> and
        <span class="be">imperfective</span>. Perfective verbs express that an action has been completed
        and they can be only used when referring to future or past, not present.
        <br>
        They are formed by prefixes, the most common of which are: -u, -za, -na, -vy, -po, -pře
        <br>
        <br>

            <div class="indent">
             * dělám (I do) x <span class="sfx">u</span>dělám (I will do)
                <br>
             * vařím (I cook) x <span class="sfx">u</span>vařím (I will do)
                <br>
             * telefonuje (He calls) x <span class="sfx">za</span>telefonuje (He will call)
                <br>
             * jedu (I go) x <span class="sfx">po</span>jedu (I will go)
                <br>
             * učím se (I learn) x <span class="sfx">na</span>učím se (I will learn)
                <br>
             * čteme (We read) x <span class="sfx">pře</span>čteme (We will read)
                <br>
             * peru (I do the washing) x <span class="sfx">vy</span>peru (I will do the washing)
            </div>
        <br>
        Most Czech verbs have a perfective and imperfective form. There is no rule that would determine which
        prefix has to be used for a particular verb, so when learning a verb it is necessary to memorize both the
        imperfective form and its perfective counterpart.

     </div>




    <div class="explanation">
     <h2 class="topicTitle">Imperfective Verbs</h2>

        Imperfective verbs express an uncompleted or repeated action and can be used when referring to past,
        present and future.
        <br>
        The future tense in these verbs is formed by an auxiliary verb and infinitive:
        <br>
        <br>


        <div class="gramTabCont">
    <table class="grammarTable">
        <tr class="rowTable">
            <td class="leftLonger">Já<span class="be">budu</span>dělat</td>
            <td class="middleCol"></td>
            <td class="rightLonger">My<span class="be">budeme</span>dělat</td>
        </tr>
        <tr class="rowTable">
            <td class="left">Ty<span class="be">budeš</span> dělat</td>
            <td class="middleCol"></td>
            <td class="rightLonger">Vy<span class="be">budete</span>dělat</td>
        </tr>
        <tr class="rowTable">
            <td class="left">On<span class="be">bude</span>dělat</td>
            <td class="middleCol"></td>
            <td class="rightLonger">Oni<span class="be">budou</span>dělat</td>
        </tr>
    </table>
</div>


     </div>
     </div>


</div>















{% endblock%}
</body>
</html>