<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>

<div id="mainContent" class="mainContent">
















    <h2> Verb To be</h2>
    <br>

<div class="toBeCont">

    <table id="czTable" class="toBeTable">
        <tr>
            <th>Singular</th>
            <th class="right">Plural</th>
        </tr>
        <tr>
            <td>Já jsem</td>
            <td class="right">My jsme</td>
        </tr>
        <tr>
            <td>Ty jsi</td>
            <td class="right">Vy jste</td>
        </tr>
        <tr>
            <td>On/ona/to je</td>
            <td class="right">Oni/ony jsou</td>
        </tr>
    </table>

<div class="toBeRibbon">
     <table class="toBeTableEng">
        <tr>
            <th>Singular</th>
            <th class="right">Plural</th>
        </tr>
        <tr>
            <td>I am</td>
            <td class="right">We are</td>
        </tr>
        <tr>
            <td>You are</td>
            <td class="right">You are</td>
        </tr>
        <tr>
            <td>He/she/it is</td>
            <td class="right">They (mas.)/(fem.) are</td>
        </tr>
    </table>

     <img id="flag" class="flag" src="static/images/gb.png" height=50 width=100><span class="fas fa-caret-down flag"></span>
</div>



</div>



    <br><br>
<div class="note1">
    In a formal setting,to address older people or people to whom we show respect,
    we use second person plural (Vy) with a capital "V"
    In an informal setting, when talking to a friend we use second person singular (ty)
    <br><br>
<p>Vy jste učitel. (You are a teacher - formal)</p>
<p>Ty jsi učitel. (You are a teacher - informal)</p>
 </div>



<div class="gramQuestions">
<h2>Questions - Otázky</h2>
<p>We do not change the word order in questions. <br> We indicate that a sentence is a question by raising intonation at the end of the sentence </p>
<p>Vy jste ucitel. (tady bude audio)</p>
<p>Vy jste ucitel? (tady bude audio)</p>
</div>
    <br><br>

<h2>Interogative Pronouns - Tázací zájmena</h2>
    <table class="pronounsTable">
    <tr>
        <th>Czech</th>
        <th>English</th>
        <th>Czech</th>
        <th class="right">English</th>
    </tr>
    <tr>
        <td>Kde</td>
        <td>Where</td>
        <td>Kde jsi?</td>
        <td class="right">Where are you?</td>
    </tr>
    <tr>
        <td>Co</td>
        <td>What</td>
        <td>Co to je</td>
        <td class="right">What is it?</td>
    </tr>
    <tr>
        <td>Kdo</td>
        <td>Who</td>
        <td>Kdo jsi?</td>
        <td class="right">Who are you?</td>
    </tr>
    <tr>
        <td>Kdy</td>
        <td>When</td>
        <td>Kdy přijdeš</td>
        <td class="right">When will you come</td>
    </tr>
    <tr>
        <td>Kolik</td>
        <td>How much/many</td>
        <td>Kolik let</td>
        <td class="right">How many years?</td>
    </tr>
     <tr>
        <td>Jak</td>
        <td>How</td>
        <td>Jak se máš?</td>
        <td class="right">How are you?</td>
    </tr>
    </table>

</div>

<script src="static/js/grammar_lesson1.js"></script>









{% endblock%}
</body>
</html>