<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Grammar</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>











<div class="lessonTitle">
    <h1 class="lessonTitleText">Nouns</h1>
</div>




<div class="gramTabCont nouns">

<h2 class="nounsGenderHead">Masculine - Animate</h2>

    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "muž"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž</td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">ům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">muž<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">muž<span class="sfx">i</span></td>
        </tr>
    </table>




      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "pán"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán</td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">a</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">ů</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">ovi</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">ům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">a</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable"        >
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">ovi</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">ech</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pán<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pán<span class="sfx">y</span></td>
        </tr>
    </table>

</div>


<div class="gramTabCont nouns">
<h2 class="nounsGenderHead">Masculine - Inanimate</h2>


    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "stroj"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj</td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">ů</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">ům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx"></span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">stroj<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">stroj<span class="sfx">i</span></td>
        </tr>
    </table>

      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "hrad"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad</td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">ů</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">ům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx"></span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">ech</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">hrad<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">hrad<span class="sfx">y</span></td>
        </tr>
    </table>

</div>

<div class="gramTabCont nouns">

<h2 class="nounsGenderHead">Feminine</h2>

    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "žena"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">a</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">y</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen</td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">ě</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">ám</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">o</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">y</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">ě</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">ách</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">žen<span class="sfx">ou</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">žen<span class="sfx">ami</span></td>
        </tr>
    </table>

      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "kost"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost</td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">em</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx"></span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">i</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">ech</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kost<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">kost<span class="sfx">mi</span></td>
        </tr>
    </table>

</div>


<div class="gramTabCont nouns">



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "růže"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">růž<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">růž<span class="sfx">emi</span></td>
        </tr>
    </table>

      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "píseň"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">píseň</td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ě</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">písn<span class="sfx">ě</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">písn<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">píseň<span class="sfx"></span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ě</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">písn<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ě</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">písn<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">písn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">písn<span class="sfx">ěmi</span></td>
        </tr>
    </table>

</div>

    <div class="gramTabCont nouns">

<h2 class="nounsGenderHead">Neuter</h2>

    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "město"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">o</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">a</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">a</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst</td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">ům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">o</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">a</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">o</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">a</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">u</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">ech</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">měst<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">měst<span class="sfx">y</span></td>
        </tr>
    </table>

  <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "stavení"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter"staven<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">staven<span class="sfx">ím</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">staven<span class="sfx">ími</span></td>
        </tr>
    </table>

</div>


<div class="gramTabCont nouns">



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "pole"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">e</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">i</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">pol<span class="sfx">em</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">pol<span class="sfx">i</span></td>
        </tr>
    </table>

      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Class "kotě"</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">kot<span class="sfx">ě</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">ata</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">koť<span class="sfx">ete</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">at</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">koť<span class="sfx">eti</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">atům</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">koť<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">ata</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">koť<span class="sfx">e</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">ata</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kot<span class="sfx">ěti</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">atech</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">kot<span class="sfx">ětem</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">koť<span class="sfx">aty</span></td>
        </tr>
    </table>

</div>



<h1 class="lessonTitle">Adjectives</h1>

<div class="gramTabCont nouns">
<h2 class="nounsGenderHead">Class mladý</h2>
    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Masculine</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ý</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ého</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ému</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ým</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ého</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ý</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ém</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ým</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ými</span></td>
        </tr>
    </table>

      <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Feminine</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">á</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ým</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ou</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">á</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ou</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ými</span></td>
        </tr>
    </table>


          <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">neuter</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ému</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ým</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ou</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">é</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">é</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ém</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ých</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">mlad<span class="sfx">ým</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">mlad<span class="sfx">ými</span></td>
        </tr>
    </table>
</div>


    <div class="gramTabCont nouns">
<h2 class="nounsGenderHead">Class jarní</h2>
    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Masculine</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ího</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ímu</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ího</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ím</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ím</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ími</span></td>
        </tr>
    </table>


    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Feminine</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ími</span></td>
        </tr>
    </table>



    <table class="grammarTable">

        <tr class="rowTable">

            <th class="tablehead">Neuter</th>

        </tr>
        <tr class="rowTable">
            <th class="left">Case:</th>
            <th class="middleCol"></th>
            <th class="rightShorter">Sg.</th>
            <th class="middleCol"></th>
            <th class="leftShorter">Pl.</th>
        </tr>
        <tr class="rowTable">
            <td class="left">Nominative:</td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Genitive: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ího</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Dative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ímu</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ím</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Accusative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Vocative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">í</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">í</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Locative: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ím</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ích</span></td>
        </tr>
        <tr class="rowTable">
            <td class="left">Instrumental: </td>
            <td class="middleCol"></td>
            <td class="rightShorter">jarn<span class="sfx">ím</span></td>
            <td class="middleCol"></td>
            <td class="leftShorter">jarn<span class="sfx">ími</span></td>
        </tr>
    </table>
</div>

<div class="theoryTopics">




    <div class="explanation">
    <h2 class="topicTitle">Use of Nominative</h2>



    This case is marks the subject in a sentence and is not accompanied by a preposition.

        <br>
        <br>

        <div class="example">Muž pracuje ve škole. <br>(The man works in a school)</div>

     </div>




    <div class="explanation">
     <h2 class="topicTitle">Use of Genitive</h2>

        Without a preposition, this case usually marks possession.
        <br>
        <br>

        <div class="example">To je auto pana Nováka. <br>(That is Mr. Novák's car)</div>
        <br>
        <br>
        Nouns in genitive case are usually preceded by the following prepositions:
        <div class="indent">
        <br>
        -	bez - without (bez doktora - without a doctor)
        <br>
         -   blízko - near (blízko školy - near the school)
        <br>
         -   do - to (ju do školy - I go to school)
         <br>
         -   od - from/by (od kamaráda - from a friend)
         <br>
         - z / ze - from (z Česka - from the Czech republic)
        </div>

     </div>






    <div class="explanation">
        <h2 class="topicTitle">Use of Dative</h2>

         Without a preposition, this case usually marks an indirect object.
        <br>
        <br>
        <div class="example">Dávám to učiteli. <br>(I give it to the teacher)</div>
        <br>
        <br>
        Nouns in dative case are usually preceded by the following prepositions:
        <div class="indent">
        <br>
        -	k / ke - to/towards (příjdu k učiteli - I come to the teacher)
        <br>
         -   kvůli - because of (kvůli učiteli - beacuse of the teacher)
        </div>
     </div>





        <div class="explanation">
        <h2 class="topicTitle">Use of Accusative</h2>

         Without a preposition, this case usually marks a direct object.
        <br>
        <br>

        <div class="example">Vidím učitele. <br>(I see the teacher)</div>
        <br>
        <br>
        Nouns in dative case are usually preceded by the following prepositions:
        <div class="indent">
        <br>
        -	na - on (direction) (dám to na postel - I put it on the bed)
        </div>
     </div>

    <div class="explanation">
        <h2 class="topicTitle">Use of Vocative</h2>

         This case is used to address people, objects etc.
        <br>
        <br>

        <div class="example">Dane, jak se máš. <br>(Dan, how are you?)</div>

        </div>


        <div class="explanation">
        <h2 class="topicTitle">Use of Locative</h2>

        Nouns in dative case are usually preceded by the following prepositions:
        <div class="indent">
        <br>
        -	na - on(location) (je to na posteli - it is on the bed)
        <br>
         -   v/ve - in (ve škole - in the school)

        <br>
         -   o - about (mluvíme o škole - we speak about the school)
        </div>
         </div>



        <div class="explanation">
        <h2 class="topicTitle">Use of Instrumental</h2>

         Without a preposition, this case is used to express a means or an instrument.
        <br>
        <br>

        <div class="example">Pojedeme autem. <br>(We go by car)</div>
        <br>
        <br>
        Nouns in dative case are usually preceded by the following prepositions:
        <div class="indent">
        <br>
        -	s / se - with (s učitelem - with the teacher)
        <br>
         -   před - in front of (před učitelem - in front of the teacher)
        <br>
         -   za - behind (za učitelem - behind the teacher)

        <br>
         -   pod - under (pod učitelem - under the teacher)
        <br>
         -   nad - above (nad učitelem - above the teacher)
        </div>
     </div>


            <div class="explanation">
        <h2 class="topicTitle">Gramatical Gender</h2>

        - Grammatical gender does not always reflect the biological gender
                <br>
                <div class="indent">
                (e.g., "děvče" means young girl, yet the gender is neuter)
                </div>
        <br>
        <br>
        - adjectives have to agree in number, gender and case with the nouns they modify
           <br>
                <div class="indent">
          (e.g., mlad<span class="boldBlue">é</span> děvče,
          mlad<span class="boldBlue">ý</span> muž,  mlad<span class="boldBlue">á</span> žena)
                    </div>
        <br>


     </div>

</div>















{% endblock%}
</body>
</html>